*{
    // border: 1px solid black;
    font-family: 微軟正黑體;
    padding: 0;
    margin: 0;
}
html, body{
    position: relative;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b2b2b2;
    padding: 30px 0px;
    position: fixed;
    z-index: 99; // 其它圖層將A標籤遮擋住了，根本點不到A標籤。
    background-color: rgba(255, 255, 255, 1);
    .Home{
        margin-left: 25px;
        a{
            text-decoration: none;
            font-size: 30px;
            font-weight: bold;
            color: black;
        }
    }
    nav a{
        text-decoration: none;
        color: black;
        margin: 10px 40px;
        font-size: 25px;
        font-weight: bold;
        
    }
    nav a:hover{
        padding-bottom: 5px;
        box-sizing: content-box;
        border-bottom: 3px solid black;
    }
    .Langurage{
        margin-right: 30px;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        // border: 1px solid black ;
        align-items: center;
        img{
            width: 40%;
            height: 100%;
            // border: 1px solid black ;
            margin-right: 4px;
        }
        p{
            // border: 1px solid black ;
            position: relative;
        }
        p:after{
            content: "";
            border-top: 3px solid black;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            position: absolute;
            right: -7px;
            top: 14px;
        }
    }
}
.banner{
    width: 1200px;
    margin: auto;
}
.MainTitle{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    h1{
        text-align: center;
        margin-bottom: 40px;
        font-size: 80px;
    }
    p{
        text-align: center;
        font-size: 20px;
    }
}
.content{
    margin-right: auto;
    margin-left: auto;
    // border: 1px solid black;
    width: 1200px;
    position: relative;
    
    // display: flex;
    // flex-direction: column;
    // /* 直排排列 */
    // justify-content: center;
    // align-items: center;
    .middleLine{
        position: absolute;
        width: 1px;
        left: 50%;
        height: calc(100% + 240px);
        border-left: 1px dashed #b2b2b2;
        top: -80px;
        z-index: -1; // 查
    }
    .middleLine::after{
        position: relative;
        content: "\30FB";
        display: inline-block;
        width: 20px;
        height: 20px;
        top: calc(100% - 10px);
        text-indent: 2px; // 查
        left: -11px;
        border: 1px solid #b2b2b2;
        border-radius: 50%;
        background-color: white;
        z-index: 30;
    }
    .item{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        // z-index: -1;
        margin: 160px 0px;
        // border: 1px solid black;
        .text{
            position: relative;
            // border: 1px solid red;
            width: 800px;
            display: flex;
            flex-direction: column;
            /* 直排排列 */
            justify-content: center;
            .title1 img{
                border-radius: 20px;
                border: 1px solid #b2b2b2;
                width: 100px;
                height: 100px;
            }
            h2{
                font-size: 40px;
                font-weight: 900;
                margin: 20px 0px;
            }
            h3{
                color: #07b53b;
                font-size: 20px;
            }
            p{
                font-size: 20px;
                margin: 10px 0px 50px;
            }
            ul{
                display: flex;
                list-style: none;
                z-index: 10;
                li a .button_other_text:hover, li a img:hover, li:hover{
                    background-color: green;
                    color: white;
                }
                
                .button{
                    position: relative;
                    width: 80px;
                    height: 80px;
                    border: 1px solid black;
                    overflow: hidden;
                    border-radius: 5px;
                    margin-right: 5px;
                    z-index: 2;
                    
                }
                .button.button_AppStore img{
                    position: absolute;
                    top: -64px;
                    right: -258px;
                }
                .button.button_LinePay img{
                    position: absolute;
                    top: -64px;
                    right: -193px;
                }
                .button_other{
                    position: relative;
                    width: 200px;
                    height: 80px;
                    border: 1px solid black;
                    border-radius: 5px;
                    overflow: hidden;
                    a{
                        .button_other_text{
                            position: absolute;
                            color: black;
                            right: 30px;
                            line-height: 80px;
                            width: 300px;
                            height: 100%;
                            left: 80px;
                        }
                        img{
                            position: absolute;
                            right: 130px;
                            top: -63px;
                        }
                    }
                }
            }
        }
        .text.left{
            left: 20px;
        }
        .text.right{
            right: -80px;
        }
        .pic{
            position: relative;
            width: 600px;
        }
        .pic.right{
            right: 150px;
        }
        .pic.left{
            right: 130px;
        }
    }
    .item:nth-child(odd){
        flex-direction: row-reverse;
    }
    .item::after{
        content: "";
        border: 1px solid #b2b2b2;
        width: 10px;
        height: 10px;
        position: absolute;
        display: inline-block;
        top: -85px;
        border-radius: 50%;
        left: calc(50% - 5px);
        z-index: -1;
        background-color: white;
    }
}
.communicate{
    background-color: #F7F8F9;
    position: relative;
    z-index: -1;
    width: 1400px;
    .mainTitle{
        width: 1200px;
        // border: 1px solid black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        h1{
            font-size: 80px;
            margin-bottom: 20px;
            padding-top: 200px;
        }
        p{
            font-size: 20px;
            margin-bottom: 50px;
        }
    }
    .communicationContent{
        display: flex;
        width: 1350px;
        // border: 1px solid black;
        justify-content: center;
        flex-wrap: wrap; /* 超出範圍時是否換行的屬性 */
        margin: auto;
        padding-bottom: 200px;
        .item{
            margin: 20px 20px;
            h3{
                margin: 20px 0px 10px;
                text-align: center;
                font-size: 25px;
            }
            p{
                text-align: center;
                font-size: 16px;
            }
        }
    }
}
.footer{
    ul{
        // border: 1px solid black;
        width: 1200px;
        list-style: none;
        display: flex;
        align-items: center;
        overflow: hidden;
        margin-top: 40px;
        margin-left: 100px;
        margin-bottom: 40px;
        li{
            display: inline-block;
            // border: 1px solid brown;
            position: relative;
            padding-right: 20px;
            overflow: hidden;
            div{
                // border: 1px solid black;
                overflow: hidden;
                img{
                    vertical-align: bottom;
                    border-radius: 15px;
                }
            } 
        }
        li:nth-child(2):after,
        li:nth-child(3):after,
        li:nth-child(4):after,
        li:nth-child(5):after,
        li:nth-child(6):after,
        li:nth-child(7):after
        {
            content: '';
            display: inline-block;
            position: absolute;
            right: 0px;
            top: calc(50% - 6px);
            width: 1px;
            height: 12px;
            background-color: black;
            vertical-align: middle;
        }
        .Title{
            // vertical-align: middle;
            margin-right: 20px;
            a{
                display: inline-block;
                text-decoration: none;
                .Content{
                    display: flex;
                    align-items: center;
                    // vertical-align: bottom;
                    .Text{
                        color: black;
                    }
                    .Img{
                        width: 30px;
                        height: 30px;
                        overflow: hidden;
                        position: relative;
                    }
                    .AppStore img{
                        position: absolute;
                        top: -63px;
                        left: -7px;
                    }
                    .GooglePlay img{
                        position: absolute;
                        top: -63px;
                        left: -57px;
                    }
                    .Desktop img{
                        position: absolute;
                        top: -63px;
                        left: -110px;
                    }
                    .WindowsStore img{
                        position: absolute;
                        top: -63px;
                        left: -164px;
                    }
                }
            } 
        }
    }
}
.SplitLine{
    width: 1200px;
    height: 1px;
    background-color: black;
    margin-left: 100px;
}
.LastLine{
    width: 1200px;
    // border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    ul{
        list-style: none;
        li{
            margin-right: 50px;
            display: inline-block;
            position: relative;
            a{
                text-decoration: none;
                color: black;
            }
        }
        li:nth-child(2):after,
        li:nth-child(3):after,
        li:nth-child(4):after{
            content: '';
            display: inline-block;
            position: absolute;
            right: -30px;
            top: calc(50% - 6px);
            width: 1px;
            height: 12px;
            background-color: black;
            vertical-align: middle;
        }
    }
}