@charset "UTF-8";
@import url(https://use.fontawesome.com/releases/v5.15.3/css/all.css);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap);
.container {
  max-width: 1500px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 30px;
}

.cols, [class*="col-"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 30px;
}

.col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-cols-1 > .col {
  width: calc(100% / 1);
}

.row-cols-2 > .col {
  width: calc(100% / 2);
}

.row-cols-3 > .col {
  width: calc(100% / 3);
}

.row-cols-4 > .col {
  width: calc(100% / 4);
}

.row-cols-5 > .col {
  width: calc(100% / 5);
}

.row-cols-6 > .col {
  width: calc(100% / 6);
}

.row-cols-7 > .col {
  width: calc(100% / 7);
}

.row-cols-8 > .col {
  width: calc(100% / 8);
}

@media screen and (min-width: 768px) {
  .row-cols-md-1 > .col {
    width: calc(100% / 1);
  }
  .row-cols-md-2 > .col {
    width: calc(100% / 2);
  }
  .row-cols-md-3 > .col {
    width: calc(100% / 3);
  }
  .row-cols-md-4 > .col {
    width: calc(100% / 4);
  }
  .row-cols-md-5 > .col {
    width: calc(100% / 5);
  }
  .row-cols-md-6 > .col {
    width: calc(100% / 6);
  }
  .row-cols-md-7 > .col {
    width: calc(100% / 7);
  }
  .row-cols-md-8 > .col {
    width: calc(100% / 8);
  }
}

@media screen and (min-width: 992px) {
  .row-cols-lg-1 > .col {
    width: calc(100% / 1);
  }
  .row-cols-lg-2 > .col {
    width: calc(100% / 2);
  }
  .row-cols-lg-3 > .col {
    width: calc(100% / 3);
  }
  .row-cols-lg-4 > .col {
    width: calc(100% / 4);
  }
  .row-cols-lg-5 > .col {
    width: calc(100% / 5);
  }
  .row-cols-lg-6 > .col {
    width: calc(100% / 6);
  }
  .row-cols-lg-7 > .col {
    width: calc(100% / 7);
  }
  .row-cols-lg-8 > .col {
    width: calc(100% / 8);
  }
}

@media screen and (min-width: 1200px) {
  .row-cols-xl-1 > .col {
    width: calc(100% / 1);
  }
  .row-cols-xl-2 > .col {
    width: calc(100% / 2);
  }
  .row-cols-xl-3 > .col {
    width: calc(100% / 3);
  }
  .row-cols-xl-4 > .col {
    width: calc(100% / 4);
  }
  .row-cols-xl-5 > .col {
    width: calc(100% / 5);
  }
  .row-cols-xl-6 > .col {
    width: calc(100% / 6);
  }
  .row-cols-xl-7 > .col {
    width: calc(100% / 7);
  }
  .row-cols-xl-8 > .col {
    width: calc(100% / 8);
  }
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666666%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.666666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.666666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

.frame-4b3::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  background-color: #ccc;
}

.frame-16b9::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #ccc;
}

.frame-4b3 iframe, .frame-16b9 iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.message:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Sans TC", sans-serif;
}

input[id^="header"], input[id^="item"] {
  display: none;
}

input[id="open-menu"] {
  display: none;
}

input[id="open-menu"]:checked ~ nav {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

input[id="open-menu"]:checked ~ .main-menu::after {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

input[id="open-menu"]:checked ~ .main-menu::before {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.banner {
  position: relative;
}

.banner .content {
  padding-top: 150px;
  padding-bottom: 120px;
  max-width: 1520px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.banner .content:before {
  content: "";
  background-image: url("/image/Shopline/bannerbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: -1;
}

.banner .content .content-txt h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.banner .content .content-txt h1.subtitle {
  color: #00c66a;
  margin-bottom: 30px;
}

.banner .content .content-txt p {
  font-size: 17px;
  line-height: 2;
  font-weight: 300;
}

.banner .content .content-txt form {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner .content .content-txt form label input {
  border: none;
  outline: none;
  background-color: #000c2b;
  width: 100%;
  padding: 10px 0px;
  font-size: 17px;
  border-bottom: 1px solid #fff;
}

.banner .content .content-txt form label input::-webkit-input-placeholder {
  color: #fff;
}

.banner .content .content-txt form label input:focus {
  color: #fff;
}

.banner .content .content-txt form button {
  background-color: #0061FF;
  height: 40px;
  font-size: 106.25%;
  line-height: 1;
  text-align: center;
  border: 0;
  cursor: pointer;
  color: #fff;
  width: 100%;
  border-radius: 30px;
  margin-top: 20px;
}

.banner .content .content-txt form button:hover {
  background-color: #0747a6;
}

.banner .content .content-image img {
  width: 100%;
}

main {
  margin-top: 100px;
}

main section {
  margin: auto;
}

main section .title h2 {
  font-size: 25px;
  text-align: center;
  padding: 20px 0px;
  line-height: 1.2;
}

main section .title p {
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
  padding: 20px 0px;
}

main section .content .row {
  margin: auto;
}

main section .content .row .pic {
  width: 100%;
}

main section .content .row .pic img {
  width: 100%;
  vertical-align: middle;
}

main section .content .row .text {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main section .content .row .text h2 {
  font-size: 25px;
  line-height: 1.5;
}

main section .content .row .text p {
  font-size: 14px;
  line-height: 2;
}

main section .content .row .text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section .content .row .text ul li {
  padding: 10px 0px;
  width: 50%;
  line-height: 1.5;
}

main section .content .row .text ul li::before {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  margin-right: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background-color: #deebff;
  border-radius: 50%;
  font-size: 12px;
  color: #3b86ff;
  text-align: center;
  content: "\f00c";
}

main section .content .row .text a {
  width: 180px;
  height: 20px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .content .row .text a:hover .line-extension:before {
  width: 30px;
}

main section .content .row .text a:hover .line-extension::after {
  left: 22px;
}

main section .content .row .text a .arrow-content {
  color: #0061FF;
}

main section .content .row .text a .line-extension {
  margin-left: 8px;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
}

main section .content .row .text a .line-extension:after {
  font-family: "Font Awesome 5 Free";
  content: "";
  line-height: 20px;
  font-weight: 900;
  position: absolute;
  color: #0061FF;
  left: 7px;
  -webkit-transition: .3s;
  transition: .3s;
}

main section .content .row .text a .line-extension:before {
  content: "";
  border-bottom: 3px solid #0061FF;
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  width: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .footer-content-bg {
  background: #172b4d;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

footer .footer-content-bg .footer-content-earth {
  height: 73%;
  position: absolute;
  bottom: 0;
  left: 65%;
}

footer .footer-content-bg .footer-content-earth img {
  height: 100%;
}

footer .footer-content-bg .footer-content-spain {
  position: absolute;
  top: 0;
  left: -10%;
  z-index: 0;
  height: 80%;
}

footer .footer-content-bg .footer-content-spain img {
  height: 100%;
}

footer .footer-content-bg .content {
  padding-left: 50px;
  max-width: 1500px;
  z-index: 1;
}

footer .footer-content-bg .content h1 {
  font-size: 40px;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 50px;
}

footer .footer-content-bg .content h1 span {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  z-index: 2;
}

footer .footer-content-bg .content h1 span:before {
  content: "";
  position: absolute;
  border-bottom: 18px solid #0061FF;
  bottom: 16px;
  left: 0;
  width: calc(100% + 8px);
  z-index: -1;
}

footer .footer-content-bg .content .free {
  margin-right: 20px;
  margin-left: auto;
  position: relative;
}

footer .footer-content-bg .content .free a {
  display: inline-block;
  width: 330px;
  height: 40px;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  z-index: 2;
}

footer .footer-content-bg .content .free a:hover .line-extension:before {
  width: 30px;
}

footer .footer-content-bg .content .free a:hover .line-extension::after {
  left: 22px;
}

footer .footer-content-bg .content .free a::before {
  position: absolute;
  display: inline-block;
  top: 0;
  left: -5px;
  content: "";
  width: 40px;
  height: 40px;
  background: #0061FF;
  border-radius: 100%;
  z-index: -1;
}

footer .footer-content-bg .content .free a::after {
  position: absolute;
  display: inline-block;
  top: 0;
  right: -5px;
  content: "";
  width: 40px;
  height: 40px;
  background: #0061FF;
  border-radius: 100%;
  z-index: -1;
}

footer .footer-content-bg .content .free a:hover::before, footer .footer-content-bg .content .free a:hover::after, footer .footer-content-bg .content .free a:hover .small {
  background: #0747a6;
}

footer .footer-content-bg .content .free a .small {
  width: 300px;
  margin: auto;
  color: #fff;
  text-align: center;
  height: 40px;
  line-height: 40px;
  position: relative;
  background: #0061FF;
}

footer .footer-content-bg .content .free a .line-extension {
  position: absolute;
  margin-left: 8px;
  width: 20px;
  height: 20px;
  right: 25px;
}

footer .footer-content-bg .content .free a .line-extension:after {
  font-family: "Font Awesome 5 Free";
  content: "";
  line-height: 20px;
  position: absolute;
  font-weight: 700;
  color: #fff;
  left: 7px;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .footer-content-bg .content .free a .line-extension:before {
  content: "";
  border-bottom: 3px solid #fff;
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  width: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .footer-list {
  background-color: #00142d;
}

footer .footer-list .container {
  max-width: 1500px;
}

footer .footer-list .container .row {
  background-color: #00142d;
}

footer .footer-list .container .row ul .header {
  display: block;
  color: #fff;
  padding: 20px 0px;
  font-size: 17px;
  width: 100%;
}

footer .footer-list .container .row ul ul {
  max-width: 150px;
  padding: 20px 0px;
}

footer .footer-list .container .row ul ul li {
  padding: 10px 0px;
}

footer .footer-list .container .row ul ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #666;
}

footer .footer-list .container .row ul ul li a:hover {
  color: #fff;
}

.information {
  background-color: #f4f5f7;
}

.information section {
  max-width: 1500px;
  margin: auto;
  background-color: #f4f5f7;
  padding: 100px 0px;
}

.information section h2 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 50px;
}

.information section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.information section .content .pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.information section .content .pic img {
  width: 100%;
}

.information section .content .text {
  text-align: center;
}

.information section .content .text h3 {
  font-size: 20px;
  padding-top: 30px;
}

.information section .content .text p {
  font-size: 15px;
  padding-top: 10px;
  line-height: 1.5;
}

.message {
  display: block;
  position: fixed;
  width: 60px;
  height: 60px;
  z-index: 10;
  background: #2684ff;
  top: calc(100% - 90px);
  left: calc(100% - 90px);
  border-radius: 50%;
}

.message:before {
  content: "\f27a";
  font-size: 35px;
  font-weight: 200;
  line-height: 60px;
  position: absolute;
  left: 13px;
  top: 2px;
  color: #fff;
}

.message a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  header {
    width: 100%;
    z-index: 2;
    background-color: #fff;
    position: fixed;
  }
  header .top-menu-wrap {
    display: none;
  }
  header .content-wrap {
    height: 50px;
  }
  header .content-wrap .content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .content-wrap .content .logo {
    height: 100%;
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .content-wrap .content .logo img {
    height: 100%;
  }
  header .content-wrap .content .main-menu {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  header .content-wrap .content .main-menu:before {
    content: "";
    width: 23px;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-shadow: 0px 7px 0px 0px #000, 0px -7px 0px 0px #000;
            box-shadow: 0px 7px 0px 0px #000, 0px -7px 0px 0px #000;
    background-color: #000;
  }
  header .content-wrap .content .main-menu::after {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    right: 0;
    margin: auto;
    font-size: 30px;
  }
  header .content-wrap .content nav {
    -webkit-box-shadow: 0px 2px 10px 2px #eee inset;
            box-shadow: 0px 2px 10px 2px #eee inset;
    width: 100%;
    height: calc(100vh - 50px);
    position: absolute;
    top: 50px;
    right: -100%;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .content-wrap .content nav .main-menu-list {
    padding: 40px 0px;
  }
  header .content-wrap .content nav .main-menu-list li {
    padding: 20px 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .content-wrap .content nav .main-menu-list li .list-property .sub-menu {
    display: none;
  }
  header .content-wrap .content nav .main-menu-list li .list-property .sub-menu h3, header .content-wrap .content nav .main-menu-list li .list-property .sub-menu p {
    display: none;
  }
  header .content-wrap .content nav .other {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .content-wrap .content nav .other .freebtn {
    width: 100%;
  }
  header .content-wrap .content nav .other .freebtn a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    background-color: #0061ff;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 200px;
  }
  header .content-wrap .content nav .other .freebtn a:hover {
    background-color: #0747a6;
  }
  header .content-wrap .content nav .other .login {
    margin-top: 10px;
    width: 100%;
  }
  header .content-wrap .content nav .other .login a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #0747a6;
    border: 1px solid #0061ff;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 200px;
  }
  header .content-wrap .content nav .other ul {
    background-color: #172b4d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  header .content-wrap .content nav .other ul li {
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50%;
    position: relative;
  }
  header .content-wrap .content nav .other ul li:before {
    content: "";
    height: 25px;
    width: 1px;
    background-color: #777;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  header .content-wrap .content nav .other ul li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  header .content-wrap .content .free-btn {
    display: none;
  }
  #header1:checked ~ .footer-list .col:nth-child(1) ul {
    display: block;
  }
  #header2:checked ~ .footer-list .col:nth-child(2) ul {
    display: block;
  }
  #header3:checked ~ .footer-list .col:nth-child(3) ul {
    display: block;
  }
  #header4:checked ~ .footer-list .col:nth-child(4) ul {
    display: block;
  }
  #header5:checked ~ .footer-list .col:nth-child(5) ul {
    display: block;
  }
  #header6:checked ~ .footer-list .col:nth-child(6) ul {
    display: block;
  }
  #header7:checked ~ .footer-list .col:nth-child(7) ul {
    display: block;
  }
  #item1:checked ~ .branch section div .total-item .item:nth-child(1) {
    top: 0;
    right: 0%;
  }
  #item1:checked ~ .branch section div ul li label[for="item2"],
  #item1:checked ~ .branch section div ul li label[for="item3"],
  #item1:checked ~ .branch section div ul li label[for="item4"],
  #item1:checked ~ .branch section div ul li label[for="item5"] {
    background-color: #ccc;
  }
  #item1:checked ~ .branch section div ul li label[for="item1"] {
    background-color: #3b86ff;
  }
  #item2:checked ~ .branch section div .total-item .item:nth-child(2) {
    top: 0;
    right: 0%;
  }
  #item2:checked ~ .branch section div ul li label[for="item1"],
  #item2:checked ~ .branch section div ul li label[for="item3"],
  #item2:checked ~ .branch section div ul li label[for="item4"],
  #item2:checked ~ .branch section div ul li label[for="item5"] {
    background-color: #ccc;
  }
  #item2:checked ~ .branch section div ul li label[for="item2"] {
    background-color: #3b86ff;
  }
  #item3:checked ~ .branch section div .total-item .item:nth-child(3) {
    top: 0;
    right: 0%;
  }
  #item3:checked ~ .branch section div ul li label[for="item1"],
  #item3:checked ~ .branch section div ul li label[for="item2"],
  #item3:checked ~ .branch section div ul li label[for="item4"],
  #item3:checked ~ .branch section div ul li label[for="item5"] {
    background-color: #ccc;
  }
  #item3:checked ~ .branch section div ul li label[for="item3"] {
    background-color: #3b86ff;
  }
  #item4:checked ~ .branch section div .total-item .item:nth-child(4) {
    top: 0;
    right: 0%;
  }
  #item4:checked ~ .branch section div ul li label[for="item1"],
  #item4:checked ~ .branch section div ul li label[for="item3"],
  #item4:checked ~ .branch section div ul li label[for="item2"],
  #item4:checked ~ .branch section div ul li label[for="item5"] {
    background-color: #ccc;
  }
  #item4:checked ~ .branch section div ul li label[for="item4"] {
    background-color: #3b86ff;
  }
  #item5:checked ~ .branch section div .total-item .item:nth-child(5) {
    top: 0;
    right: 0%;
  }
  #item5:checked ~ .branch section div ul li label[for="item1"],
  #item5:checked ~ .branch section div ul li label[for="item3"],
  #item5:checked ~ .branch section div ul li label[for="item4"],
  #item5:checked ~ .branch section div ul li label[for="item2"] {
    background-color: #ccc;
  }
  #item5:checked ~ .branch section div ul li label[for="item5"] {
    background-color: #3b86ff;
  }
  .branch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }
  .branch section {
    max-width: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .branch section h2 {
    margin-top: 70px;
    font-size: 35px;
    text-align: center;
  }
  .branch section h2 span {
    color: #0061FF;
  }
  .branch section div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .branch section div ul {
    padding: 0px 50px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .branch section div ul li label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
  }
  .branch section div ul li label[for="item1"] {
    background-color: #3b86ff;
  }
  .branch section div ul li label .item-img img {
    display: none;
  }
  .branch section div .total-item {
    position: relative;
    overflow: hidden;
  }
  .branch section div .total-item .item {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
  }
  .branch section div .total-item .item:nth-child(2) {
    position: absolute;
    top: 0;
    right: 100%;
  }
  .branch section div .total-item .item:nth-child(3) {
    position: absolute;
    top: 0;
    right: 200%;
  }
  .branch section div .total-item .item:nth-child(4) {
    position: absolute;
    top: 0;
    right: 300%;
  }
  .branch section div .total-item .item:nth-child(5) {
    position: absolute;
    top: 0;
    right: 400%;
  }
  .branch section div .total-item .item .item-image-out {
    width: 100%;
    padding-right: 50px;
    padding: 20px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .branch section div .total-item .item .item-image-out .item-image img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .branch section div .total-item .item .item-txt {
    padding-right: 100px;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .branch section div .total-item .item .item-txt a {
    margin-bottom: 30px;
    width: 300px;
    height: 20px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .branch section div .total-item .item .item-txt a:hover .line-extension:before {
    width: 30px;
  }
  .branch section div .total-item .item .item-txt a:hover .line-extension::after {
    left: 22px;
  }
  .branch section div .total-item .item .item-txt a .arrow-content {
    color: #0061FF;
  }
  .branch section div .total-item .item .item-txt a .line-extension {
    margin-left: 8px;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
  }
  .branch section div .total-item .item .item-txt a .line-extension:after {
    font-family: "Font Awesome 5 Free";
    content: "";
    font-weight: 700;
    line-height: 20px;
    position: absolute;
    color: #0061FF;
    left: 7px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .branch section div .total-item .item .item-txt a .line-extension:before {
    content: "";
    border-bottom: 3px solid #0061FF;
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    width: 15px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .branch section div .total-item .item .item-txt p {
    font-size: 16px;
    line-height: 2;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .branch section div .total-item .item .item-txt .manager {
    margin-top: auto;
    font-size: 17px;
    font-weight: 300;
  }
  footer .footer-list .container {
    padding: 40px 20px;
  }
  footer .footer-list .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-list .container .row .col {
    border-bottom: 1px solid #fff;
    padding: 5px;
  }
  footer .footer-list .container .row .col .header {
    cursor: pointer;
  }
  footer .footer-list .container .row .col ul {
    display: none;
  }
  footer .footer-other-bg {
    padding: 20px 0px;
    background: #00142D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-other-bg .other {
    width: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 60px;
    padding-right: 30px;
  }
  footer .footer-other-bg .other .txt {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-other-bg .other .txt li {
    padding: 0px 16px;
    position: relative;
  }
  footer .footer-other-bg .other .txt li:first-child {
    padding-left: 0;
  }
  footer .footer-other-bg .other .txt li:nth-child(1) ~ li::before {
    content: "|";
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
  }
  footer .footer-other-bg .other .txt li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  footer .footer-other-bg .other .txt li a:hover {
    color: #2684ff;
  }
  footer .footer-other-bg .other .icon {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
  }
  footer .footer-other-bg .other .icon li {
    margin: 0px 16px 0px 0px;
  }
  footer .footer-other-bg .other .icon li .fa-youtube {
    color: #fff;
  }
  footer .footer-other-bg .other .icon li a:hover .facebook::before,
  footer .footer-other-bg .other .icon li a:hover .linkedin::before,
  footer .footer-other-bg .other .icon li a:hover .instagram::before,
  footer .footer-other-bg .other .icon li a:hover .youtube::before,
  footer .footer-other-bg .other .icon li a:hover .comment::before,
  footer .footer-other-bg .other .icon li a:hover .envelope::before {
    color: #2684ff;
  }
  footer .footer-other-bg .other .icon li a .facebook {
    width: 40px;
    height: 40px;
    background: #172B4D;
    border-radius: 50%;
    position: relative;
  }
  footer .footer-other-bg .other .icon li a .facebook:before {
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    content: "\f39e";
    color: #fff;
    position: absolute;
    left: 14px;
    top: 4px;
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
  }
  footer .footer-other-bg .other .icon li a .linkedin {
    width: 40px;
    height: 40px;
    background: #172B4D;
    border-radius: 50%;
    position: relative;
  }
  footer .footer-other-bg .other .icon li a .linkedin:before {
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    content: "\f0e1";
    color: #fff;
    position: absolute;
    left: 13px;
    top: 4px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
  footer .footer-other-bg .other .icon li a .instagram {
    width: 40px;
    height: 40px;
    background: #172B4D;
    border-radius: 50%;
    position: relative;
  }
  footer .footer-other-bg .other .icon li a .instagram:before {
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    content: "\f16d";
    color: #fff;
    position: absolute;
    left: 12px;
    top: 4px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
  footer .footer-other-bg .other .icon li a .youtube {
    width: 40px;
    height: 40px;
    background: #172B4D;
    border-radius: 50%;
    position: relative;
  }
  footer .footer-other-bg .other .icon li a .youtube:before {
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    content: "\f167";
    color: #fff;
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 20px;
    line-height: 30px;
    padding: auto;
    font-weight: 400;
  }
  footer .footer-other-bg .other .icon li a .comment {
    width: 40px;
    height: 40px;
    background: #172B4D;
    border-radius: 50%;
    position: relative;
  }
  footer .footer-other-bg .other .icon li a .comment:before {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    content: "\f4ad";
    color: #fff;
    position: absolute;
    left: 11px;
    top: 5px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }
  footer .footer-other-bg .other .icon li a .envelope {
    width: 40px;
    height: 40px;
    background: #172B4D;
    border-radius: 50%;
    position: relative;
  }
  footer .footer-other-bg .other .icon li a .envelope:before {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    content: "\f0e0";
    color: #fff;
    position: absolute;
    left: 11px;
    top: 5px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }
  footer .footer-other-bg .other .context {
    margin-bottom: 40px;
  }
  footer .footer-other-bg .other .context p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    line-height: 1.5;
    font-weight: 100;
  }
}

@media screen and (min-width: 992px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
  }
  header .top-menu-wrap {
    background-color: #00142d;
  }
  header .top-menu-wrap .top-menu {
    max-width: 1500px;
    height: 40px;
    margin: auto;
    background-color: #00142d;
    line-height: 40px;
  }
  header .top-menu-wrap .top-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .top-menu-wrap .top-menu ul li {
    padding: 0px 10px;
    position: relative;
  }
  header .top-menu-wrap .top-menu ul li:nth-child(1) {
    margin-right: 10px;
    padding-right: 10px;
  }
  header .top-menu-wrap .top-menu ul li:nth-child(1)::before {
    content: "";
    width: 1px;
    height: 16px;
    position: absolute;
    right: -5px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
  }
  header .top-menu-wrap .top-menu ul li a {
    color: #fff;
    text-decoration: none;
  }
  header .top-menu-wrap .top-menu ul li a:hover {
    color: #2684ff;
  }
  header .content-wrap {
    background-color: #fff;
    height: 85px;
  }
  header .content-wrap .content {
    max-width: 1500px;
    margin: auto;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  header .content-wrap .content .logo {
    height: 100%;
    padding: 30px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .content-wrap .content .logo img {
    height: 100%;
  }
  header .content-wrap .content nav .main-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .content-wrap .content nav .main-menu-list > li {
    position: relative;
    margin: 0px 10px;
  }
  header .content-wrap .content nav .main-menu-list > li > label {
    line-height: 80px;
    font-size: 14px;
    display: block;
    cursor: pointer;
  }
  header .content-wrap .content nav .main-menu-list > li > label::after {
    content: "";
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    background-color: #0061FF;
    -webkit-transition: .3s;
    transition: .3s;
  }
  header .content-wrap .content nav .main-menu-list > li > label:hover {
    color: #0061FF;
  }
  header .content-wrap .content nav .main-menu-list > li > label:hover > .sub-menu {
    display: block;
    color: #000;
  }
  header .content-wrap .content nav .main-menu-list > li > label:hover .fas {
    -webkit-transform: scale(-1);
            transform: scale(-1);
  }
  header .content-wrap .content nav .main-menu-list > li > label:hover:after {
    left: 0%;
    right: 0%;
  }
  header .content-wrap .content nav .main-menu-list > li > label .fas {
    font-size: 12px;
  }
  header .content-wrap .content nav .main-menu-list > li > label .sub-menu {
    cursor: default;
    line-height: 1;
    padding: 20px;
    display: none;
    z-index: 2;
    position: absolute;
    background-color: #fff;
  }
  header .content-wrap .content nav .main-menu-list > li > label .sub-menu.sub-menu1 {
    top: 80px;
    left: -20px;
    width: 500px;
  }
  header .content-wrap .content nav .main-menu-list > li > label .sub-menu.sub-menu2 {
    top: 80px;
    left: -20px;
    width: 500px;
  }
  header .content-wrap .content nav .main-menu-list > li > label .sub-menu.sub-menu3 {
    top: 80px;
    left: -500px;
    width: 700px;
  }
  header .content-wrap .content nav .main-menu-list > li > label .sub-menu.sub-menu4 {
    top: 80px;
    left: -600px;
    width: 700px;
  }
  header .content-wrap .content nav .main-menu-list > li > label .sub-menu h3 {
    font-size: 20px;
    line-height: 50px;
  }
  header .content-wrap .content nav .main-menu-list > li > label .sub-menu p {
    font-size: 15px;
    line-height: 1.5;
    padding: 20px 0px;
    border-bottom: 1px solid #000;
  }
  header .content-wrap .content nav .main-menu-list > li > label .sub-menu .sub-menu-content {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .content-wrap .content nav .main-menu-list > li > label .sub-menu .sub-menu-content .title ul {
    padding-top: 10px;
  }
  header .content-wrap .content nav .main-menu-list > li > label .sub-menu .sub-menu-content .title ul li {
    padding: 20px 0px;
  }
  header .content-wrap .content nav .main-menu-list > li > label .sub-menu .sub-menu-content .title ul li a {
    text-decoration: none;
    color: #000;
  }
  header .content-wrap .content nav .other {
    display: none;
  }
  header .content-wrap .content .free-btn {
    margin-left: auto;
    margin-right: 15px;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 200px;
    background-color: #0061ff;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
  }
  header .content-wrap .content .free-btn:hover {
    background-color: #0747a6;
  }
  .banner {
    position: relative;
  }
  .banner .content {
    padding-top: 150px;
    padding-bottom: 120px;
    max-width: 1520px;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
  }
  .banner .content:before {
    content: "";
    background-image: url("/image/Shopline/bannerbg.png");
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    z-index: -1;
  }
  .banner .content .content-txt h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .banner .content .content-txt h1.subtitle {
    color: #00c66a;
    margin-bottom: 30px;
  }
  .banner .content .content-txt p {
    font-size: 17px;
    line-height: 2;
    font-weight: 300;
  }
  .banner .content .content-txt form {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .content .content-txt form label input {
    border: none;
    outline: none;
    background-color: #000c2b;
    width: 100%;
    padding: 10px 0px;
    font-size: 17px;
    border-bottom: 1px solid #fff;
  }
  .banner .content .content-txt form label input::-webkit-input-placeholder {
    color: #fff;
  }
  .banner .content .content-txt form label input:focus {
    color: #fff;
  }
  .banner .content .content-txt form button {
    background-color: #0061FF;
    height: 40px;
    font-size: 106.25%;
    line-height: 1;
    text-align: center;
    border: 0;
    cursor: pointer;
    color: #fff;
    width: 100%;
    border-radius: 30px;
    margin-top: 20px;
  }
  .banner .content .content-txt form button:hover {
    background-color: #0747a6;
  }
  .banner .content .content-image img {
    width: 100%;
  }
  #item1:checked ~ .branch section div .total-item .item:nth-child(1) {
    top: 0;
    right: 0%;
  }
  #item1:checked ~ .branch section div ul li:nth-child(1):before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #0061FF;
  }
  #item1:checked ~ .branch section div ul li:nth-child(2):before, #item1:checked ~ .branch section div ul li:nth-child(3):before, #item1:checked ~ .branch section div ul li:nth-child(4):before, #item1:checked ~ .branch section div ul li:nth-child(5):before {
    border: none;
  }
  #item2:checked ~ .branch section div .total-item .item:nth-child(2) {
    top: 0;
    right: 0%;
  }
  #item2:checked ~ .branch section div ul li:nth-child(2):before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #0061FF;
  }
  #item2:checked ~ .branch section div ul li:nth-child(1):before, #item2:checked ~ .branch section div ul li:nth-child(3):before, #item2:checked ~ .branch section div ul li:nth-child(4):before, #item2:checked ~ .branch section div ul li:nth-child(5):before {
    border: none;
  }
  #item3:checked ~ .branch section div .total-item .item:nth-child(3) {
    top: 0;
    right: 0%;
  }
  #item3:checked ~ .branch section div ul li:nth-child(3):before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #0061FF;
  }
  #item3:checked ~ .branch section div ul li:nth-child(2):before, #item3:checked ~ .branch section div ul li:nth-child(1):before, #item3:checked ~ .branch section div ul li:nth-child(4):before, #item3:checked ~ .branch section div ul li:nth-child(5):before {
    border: none;
  }
  #item4:checked ~ .branch section div .total-item .item:nth-child(4) {
    top: 0;
    right: 0%;
  }
  #item4:checked ~ .branch section div ul li:nth-child(4):before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #0061FF;
  }
  #item4:checked ~ .branch section div ul li:nth-child(2):before, #item4:checked ~ .branch section div ul li:nth-child(3):before, #item4:checked ~ .branch section div ul li:nth-child(1):before, #item4:checked ~ .branch section div ul li:nth-child(5):before {
    border: none;
  }
  #item5:checked ~ .branch section div .total-item .item:nth-child(5) {
    top: 0;
    right: 0%;
  }
  #item5:checked ~ .branch section div ul li:nth-child(5):before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #0061FF;
  }
  #item5:checked ~ .branch section div ul li:nth-child(2):before, #item5:checked ~ .branch section div ul li:nth-child(3):before, #item5:checked ~ .branch section div ul li:nth-child(4):before, #item5:checked ~ .branch section div ul li:nth-child(1):before {
    border: none;
  }
  .branch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }
  .branch section {
    max-width: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .branch section h2 {
    margin-top: 70px;
    font-size: 35px;
    text-align: center;
  }
  .branch section h2 span {
    color: #0061FF;
  }
  .branch section div {
    position: relative;
  }
  .branch section div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .branch section div ul li {
    width: 20%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .branch section div ul li:nth-child(1):before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #0061FF;
  }
  .branch section div ul li:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #0061FF;
  }
  .branch section div ul li:hover::after {
    content: "";
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    border: 1px solid #ccdfff;
    background-color: #ccdfff;
    border-radius: 60% 40% 80% 50%;
    width: 80px;
    height: 80px;
    z-index: -1;
  }
  .branch section div ul li label {
    cursor: pointer;
    width: 100%;
    display: inline-block;
  }
  .branch section div ul li label .item-img {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 5px;
    height: 130px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
  }
  .branch section div ul li label .item-img img {
    height: 100%;
  }
  .branch section div .total-item {
    position: relative;
    overflow: hidden;
  }
  .branch section div .total-item .item {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
  }
  .branch section div .total-item .item:nth-child(2) {
    position: absolute;
    top: 0;
    right: 100%;
  }
  .branch section div .total-item .item:nth-child(3) {
    position: absolute;
    top: 0;
    right: 200%;
  }
  .branch section div .total-item .item:nth-child(4) {
    position: absolute;
    top: 0;
    right: 300%;
  }
  .branch section div .total-item .item:nth-child(5) {
    position: absolute;
    top: 0;
    right: 400%;
  }
  .branch section div .total-item .item .item-image-out {
    width: 55%;
    padding-right: 50px;
  }
  .branch section div .total-item .item .item-image-out .item-image img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .branch section div .total-item .item .item-txt {
    padding-right: 100px;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .branch section div .total-item .item .item-txt a {
    margin-bottom: 30px;
    width: 300px;
    height: 20px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .branch section div .total-item .item .item-txt a:hover .line-extension:before {
    width: 30px;
  }
  .branch section div .total-item .item .item-txt a:hover .line-extension::after {
    left: 22px;
  }
  .branch section div .total-item .item .item-txt a .arrow-content {
    color: #0061FF;
  }
  .branch section div .total-item .item .item-txt a .line-extension {
    margin-left: 8px;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
  }
  .branch section div .total-item .item .item-txt a .line-extension:after {
    font-family: "Font Awesome 5 Free";
    content: "";
    font-weight: 700;
    line-height: 20px;
    position: absolute;
    color: #0061FF;
    left: 7px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .branch section div .total-item .item .item-txt a .line-extension:before {
    content: "";
    border-bottom: 3px solid #0061FF;
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    width: 15px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .branch section div .total-item .item .item-txt p {
    font-size: 16px;
    line-height: 2;
    font-weight: 300;
  }
  .branch section div .total-item .item .item-txt .manager {
    margin-top: auto;
    font-size: 17px;
    font-weight: 300;
  }
  footer .footer-list .container .list-content {
    padding-top: 60px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
    border-bottom: 1px solid #666;
  }
  footer .footer-list .container .list-content:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 45px;
    height: 1px;
    background-color: #666;
  }
  footer .footer-list .container .list-content .col {
    padding: 10px;
  }
  footer .footer-other-bg {
    padding: 50px 0px;
    background: #00142D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-other-bg .other {
    width: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 60px;
    padding-right: 30px;
  }
  footer .footer-other-bg .other .txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-other-bg .other .txt li {
    padding: 0px 16px;
    position: relative;
  }
  footer .footer-other-bg .other .txt li:first-child {
    padding-left: 0;
  }
  footer .footer-other-bg .other .txt li:nth-child(1) ~ li::before {
    content: "|";
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
  }
  footer .footer-other-bg .other .txt li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  footer .footer-other-bg .other .txt li a:hover {
    color: #2684ff;
  }
  footer .footer-other-bg .other .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-other-bg .other .icon li {
    margin: 0px 16px;
  }
  footer .footer-other-bg .other .icon li .fa-youtube {
    color: #fff;
  }
  footer .footer-other-bg .other .icon li a:hover .facebook::before,
  footer .footer-other-bg .other .icon li a:hover .linkedin::before,
  footer .footer-other-bg .other .icon li a:hover .instagram::before,
  footer .footer-other-bg .other .icon li a:hover .youtube::before,
  footer .footer-other-bg .other .icon li a:hover .comment::before,
  footer .footer-other-bg .other .icon li a:hover .envelope::before {
    color: #2684ff;
  }
  footer .footer-other-bg .other .icon li a .facebook {
    width: 40px;
    height: 40px;
    background: #172B4D;
    border-radius: 50%;
    position: relative;
  }
  footer .footer-other-bg .other .icon li a .facebook:before {
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    content: "\f39e";
    color: #fff;
    position: absolute;
    left: 14px;
    top: 4px;
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
  }
  footer .footer-other-bg .other .icon li a .linkedin {
    width: 40px;
    height: 40px;
    background: #172B4D;
    border-radius: 50%;
    position: relative;
  }
  footer .footer-other-bg .other .icon li a .linkedin:before {
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    content: "\f0e1";
    color: #fff;
    position: absolute;
    left: 13px;
    top: 4px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
  footer .footer-other-bg .other .icon li a .instagram {
    width: 40px;
    height: 40px;
    background: #172B4D;
    border-radius: 50%;
    position: relative;
  }
  footer .footer-other-bg .other .icon li a .instagram:before {
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    content: "\f16d";
    color: #fff;
    position: absolute;
    left: 12px;
    top: 4px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
  footer .footer-other-bg .other .icon li a .youtube {
    width: 40px;
    height: 40px;
    background: #172B4D;
    border-radius: 50%;
    position: relative;
  }
  footer .footer-other-bg .other .icon li a .youtube:before {
    display: inline-block;
    font-family: "Font Awesome 5 Brands";
    content: "\f167";
    color: #fff;
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 20px;
    line-height: 30px;
    padding: auto;
    font-weight: 400;
  }
  footer .footer-other-bg .other .icon li a .comment {
    width: 40px;
    height: 40px;
    background: #172B4D;
    border-radius: 50%;
    position: relative;
  }
  footer .footer-other-bg .other .icon li a .comment:before {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    content: "\f4ad";
    color: #fff;
    position: absolute;
    left: 11px;
    top: 5px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }
  footer .footer-other-bg .other .icon li a .envelope {
    width: 40px;
    height: 40px;
    background: #172B4D;
    border-radius: 50%;
    position: relative;
  }
  footer .footer-other-bg .other .icon li a .envelope:before {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    content: "\f0e0";
    color: #fff;
    position: absolute;
    left: 11px;
    top: 5px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }
  footer .footer-other-bg .other .context p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    line-height: 1.5;
    font-weight: 100;
  }
  main section {
    max-width: 1500px;
  }
  main section .title h2 {
    font-size: 40px;
  }
  main section .title p {
    font-size: 20px;
  }
  main section .content .row {
    padding: 100px 0px;
    border-bottom: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main section .content .row:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  main section .content .row:last-child {
    border: none;
  }
  main section .content .row .pic {
    height: 100%;
  }
  main section .content .row .text {
    height: 100%;
  }
  main section .content .row .text h2 {
    font-size: 35px;
    line-height: 1.5;
  }
  main section .content .row .text p {
    font-size: 17px;
  }
  main section .content .row .text ul li {
    padding: 10px 0px;
  }
  .information section h2 {
    font-size: 35px;
    text-align: center;
  }
  .information section .row .content {
    padding: 50px 70px;
  }
}

@media screen and (min-width: 1200px) {
  .banner .content .content-txt form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner .content .content-txt form label input {
    width: 360px;
  }
  .banner .content .content-txt form button {
    width: 125px;
    margin-left: 20px;
    margin-top: 0px;
  }
  header .content-wrap .content nav .main-menu-list li > label {
    font-size: 16px;
  }
}
/*# sourceMappingURL=HW06.css.map */